# Ignore Python cache and bytecode
__pycache__/
*.pyc
.pytest_cache/

# Ignore virtual environments
venv/
.env/

# Ignore common log & temp files
*.log
*.sqlite3

# Ignore local databases
*.db

# Ignore VS Code settings (optional)
.vscode/
.env
